---
import Layout from '../layouts/Layout.astro';
import Social from '../components/Social.astro';
import Project from '../components/Project.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Whats up">
    <main>
        <h1> Hi, I'm <span class="text-gradient">Felix</span>.</h1>
        <div class="center">
            <span style={"margin-bottom: 1rm"}>I'm a <strong>backend developer</strong> and <strong> school student</strong> from Germany.</span>
        </div>

        <ul class="social-list">
            <Social title="GitHub" href='https://github.com/invalidfelix' icon='https://cdn.simpleicons.org/github/white' color="#24292e"/>
            <Social title="Discord" href='https://discord.com/users/1078242409495932969' icon='https://cdn.simpleicons.org/discord/white' color="#5865F2"/>
            <Social title="Email" href='mailto:contact@nykoos.dev' icon='https://cdn.simpleicons.org/gmail/white' color="#D44638"/>
        </ul>

        <br>

        <div>
            <h2>Experiences</h2>
            <p> The languages and tools I've already worked with</p>
            <div class="experience-group">
                <Experience name="JavaScript" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" icon="https://cdn.simpleicons.org/javascript/F7DF1E"/>
                <Experience name="Python" href="https://www.python.org/" icon="https://cdn.simpleicons.org/python/3776AB"/>
                <Experience name="TypeScript" href="https://www.typescriptlang.org/" icon="https://cdn.simpleicons.org/typescript/3178C6"/>
                <Experience name="PostgreSQL" href="https://www.postgresql.org/" icon="https://cdn.simpleicons.org/postgresql/4169E1"/>
                <Experience name="Node.js" href="https://nodejs.org/" icon="https://cdn.simpleicons.org/nodedotjs/339933"/>
                <Experience name="Git" href="https://git-scm.com/" icon="https://cdn.simpleicons.org/git/F05032"/>
                <Experience name="React" href="https://react.dev/" icon="https://cdn.simpleicons.org/react/61DAFB"/>
            </div>
        </div>

        <div>
            <h2>Projects</h2>
            <p> Some of the projects I am currently working on</p>
            <div class="project-group">
                <Project title="Quantum-Bot" href="https://quantum-bot.net" desc="A Discord bot that offers many features for your server." gradient_start='#3200dc' gradient_end="#13151A"/>
            </div>
        </div>

    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        min-width: 450px;
        color: white;
        font-size: 20px;
        line-height: 1.6;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1rem;
    }
    p {
        text-align: center;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
        transition: background-position 0.5s ease;
    }
    .text-gradient:hover {
        background-position: 100%;
    }
    .project-group {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .experience-group {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .center {
        text-align: center;
    }
    .social-list {
        display: flex;
        justify-content: center;
        gap: 2rem;
        list-style: none;
        padding: 0;
    }
</style>