---
interface Props {
    name: string;
    href: string;
    icon: string;
}

const { name, href, icon }: Props = Astro.props;
---

<div class="experience">
    <a href={href} class="icon-link" target="_blank" rel="noopener noreferrer" title={name}>
        <img src={icon} class="icon" alt={name}/>
    </a>
</div>

<style>
    .experience {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
    }

    .icon-link {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s;
    }

    .icon {
        width: 48px;
        height: 48px;
        transition: transform 0.2s;
        display: block;
    }

    .icon-link:hover {
        transform: scale(1.15);
    }
</style>